/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.contenedor{
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  background-color:rgb(223, 210, 210);
  width:303px;
  padding:10px;
  border-radius: 15px;
}

img{
  border-radius: 15px;
}

.descripcion{
  color:grey;
}

.precio{
  border-bottom: 1px solid grey;
  padding-bottom: 25px;
}

.numeroPrecio{
  font-weight: bolder;
  font-size:x-large;
}

.unidad{
  color:grey;
  font-size: larger;
}

.contenedorBotones{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap:nowrap;
}

.botonera{
  width:100%;
}

.botonAdd{
  width:100%;
  border-radius: 20px;
  background-color: yellow;
  color: brown;
  font-size: x-large;
}

button:hover{
  cursor: pointer;
}

#botonesEscondidos{
  display:none;
}
a
.carro{
  color:grey;
  width:100px;
}

.botonesFinales{
  margin-left:100px;
}

.botonesFinales button{
  padding:4px;
  border-radius:50%;
  color:brown;
  background-color: yellow;
}

#cantidadTotal{
  font-weight: bolder;
  color:black;
  font-size:x-large;
}
